[Unit]
Description=NGINX Log Monitor
After=network.target

[Service]
ExecStart=/var/www/task3/html/nginx_log_monitor.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

